<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Required meta tags always come first -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/collabdetails.css"
    />
    <link rel="stylesheet" href="../static/css/recommendation.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>Internship Portal</title>
  </head>
  <body style="background-color: #ffe4e1">
    <nav class="navbar navbar-expand-lg navbar-red navbar-dark">
      <div class="wrap"></div>
      <div class="container-fluid all-show">
        <a class="navbar-brand" href="/" style="color: #c1c8e4">
          Internship Portal
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-home"> Home</i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/internships"
                ><i class="fas fa-search"> Browse Internships</i></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="blog-container">
        <div class="blog-header">
          <div class="blog-author--no-cover">
            <h3>{{internship.company}}</h3>
          </div>
        </div>
        <div class="blog-body">
          <div class="blog-title">
            <h1><a href="#">{{internship.title}}</a></h1>
          </div>

          <div class="blog-tags">
            <ul>
              <li><a href="#">Duration - {{internship.duration}}</a></li>
            </ul>
          </div>
        </div>

        <div class="blog-footer">
          <p></p>
          <ul>
            <li class="published-date">Apply By - {{internship.apply_by}}</li>
            <!-- <li class="comments"><a href="#"><svg class="icon-bubble"><i class='fa-fa-heart'></i></svg><span class="numero">8</span></a></li> -->
            <li class="shares"></li>
          </ul>
          <div class="container">
            <h3 class="about-rp">Internship Description</h3>
            <div class="blog-summary">
              <ol class="number-circle-list">
                <li class="number-circle-list--list-item">
                  Location - {{internship.location}}
                </li>
                <li class="number-circle-list--list-item">
                  Stipend - {{internship.stipend}}
                </li>

                <li class="number-circle-list--list-item">
                  Number of Openings - {{internship.numberofopenings}}
                </li>
                <li class="number-circle-list--list-item">
                  Applicants - {{internship.applicants}}
                </li>
              </ol>
            </div>
            <div class="d-flex justify-content-center">
              <button
                type="button"
                class="btn btn-con"
                style="background-color: #151226"
              >
                <a
                  href="{{internship.link}}"
                  style="color: white; text-decoration: none"
                  >Apply</a
                >
              </button>
              <p><br /></p>
              <!-- Button trigger modal -->
            </div>
            <p>
              <br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-3">
      <div class="row">
        {% for record in records %}
        <div class="col-md-4">
          <div class="card p-3 mb-2">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <div class="ms-2 c-details">
                  <h6 class="mb-0">{{record['Company']}}</h6>
                  <span>Duration - {{record['Duration']}}</span>
                </div>
              </div>
              <div class="badge"><span>{{record['Location']}}</span></div>
            </div>
            <div class="mt-5">
              <h3 class="heading">{{record['Title']}}</h3>
              <br />
              <h5>Apply By - {{record['Apply By']}}</h5>
              <div class="mt-5">
                <div class="progress" style="height: 30px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <a
                      href="/internshipdetails/{{record['id']}}"
                      style="text-decoration: none; color: white"
                      ><h6>VIEW MORE</h6></a
                    >
                  </div>
                </div>
                <div class="mt-3">
                  <span class="text1">Stipend - {{record['Stipend']}}</span
                  ><br />
                  <span class="text2">Perks - {{record['Perks']}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
